html, body {
    background-image: linear-gradient(gray, white);
}
h1, h2 {
    color: white;
}
header { 
    display: block;
    height: 120px;
    text-align: center;
    background-color: royalblue;
}